
<div ng-controller="HomeController">
    <section class="cd-hero">
        <ul class="cd-hero-slider autoplay">
            <li class="selected">
                <div class="cd-half-width">
                    <h2>Comité Estudiantil</h2>
                    <p>Ingeniería en Sistemas, Software y Ciberseguridad</p>
                    <a href="#0" class="cd-btn">Start</a>
                    <a href="#0" class="cd-btn secondary">Learn More</a>
                </div> <!-- .cd-half-width -->
                <div class="cd-half-width cd-img-container">
                    <img class="img-responsive" src="/UI/Content/Images/Logo fondo oscuro.png" alt="tech 1">
                </div> <!-- .cd-half-width.cd-img-container -->
            </li>
            <li>
                <div class="cd-half-width cd-img-container">
                    <img src="assets/tech-2.jpg" alt="tech 2">
                </div> <!-- .cd-half-width.cd-img-container -->
                <div class="cd-half-width">
                    <h2>Slide title here</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</p>
                    <a href="#0" class="cd-btn">Start</a>
                    <a href="#0" class="cd-btn secondary">Learn More</a>
                </div> <!-- .cd-half-width -->

            </li>
            <li class="cd-bg-video">
                <div class="cd-full-width">
                    <h2>Slide title here</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
                    <a href="#0" class="cd-btn">Learn more</a>
                </div> <!-- .cd-full-width -->
                <div class="cd-bg-video-wrapper" data-video="assets/video/video">
                    <!-- video element will be loaded using jQuery -->
                </div> <!-- .cd-bg-video-wrapper -->
            </li>
            <li>
                <div class="cd-full-width">
                    <h2>Slide title here</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
                    <a href="#0" class="cd-btn">Start</a>
                    <a href="#0" class="cd-btn secondary">Learn More</a>
                </div> <!-- .cd-full-width -->
            </li>
        </ul> <!-- .cd-hero-slider -->
        <div class="cd-slider-nav">
            <nav>
                <span class="cd-marker item-1"></span>
                <ul>
                    <li class="selected">
                        <a target="_self" href="#0">Intro</a>
                    </li>
                    <li>
                        <a target="_self" href="#0">Tech 1</a>
                    </li>
                </ul>
            </nav>
        </div> <!-- .cd-slider-nav -->
    </section>
    <!-- .cd-hero -->
    <div class="container">
        <br />
        <div class="row"><div class="col-md-12"><h1>Ultimas Noticias</h1></div></div><div class="row">
             
        </div>
    </div>


</div>