<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3"> </div>
            <div class="col-md-6">
                <div class="card text-white p-5 bg-primary">
                    <div class="card-body">
                        <h1 class="mb-4">Iniciar Sesi&oacute;n</h1>
                        <form >
                            <div class="form-group">
                                <label>Email</label>
                                <hr />
                                <input type="email" class="form-control" placeholder="Correo Electrónico">
                            </div>
                            <div class="form-group">
                                <label>Contraseña</label>
                                <hr />
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <button type="submit" style="padding-right:10px!important" class="btn btn-secondary pull-right">Iniciar Sesi&oacute;n</button>
                            <button onclick="location.replace('/register')" type="submit" class="btn btn-warning pull-right">Registrarme</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>