<div class="container" ng-controller="RegisterController">
    <div class="py-5">
        <div class="row">
            <div class="align-self-center col-md-6 text-white">
                <h1 class="text-center text-md-left display-3" style="color:#232833">Inscripción Estudiantil</h1>
            </div>
            <div class="col-md-6" id="book">
                <div class="card">
                    <div class="card-body p-5">
                        <h3 class="pb-3">Inscripción</h3>
                        <form action="https://formspree.io/YOUREMAILHERE">
                            <div class="form-group">
                                <label>Primer Nombre  </label>
                                <input ng-model="NewStudent.FirstName" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Segundo Nombe</label>
                                <input ng-model="NewStudent.SecondName" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Primer Apellido</label>
                                <input ng-model="NewStudent.FirstLastName" type="text" class="form-control" placeholder="">
                            </div><div class="form-group">
                                <label>Segundo Apellido</label>
                                <input ng-model="NewStudent.SecondLastName" type="text" class="form-control" placeholder="">
                            </div><div class="form-group">
                                <label>Fecha de Nacimiento</label>
                                <input  ng-model="NewStudent.BirthDate" type="date" class="form-control" placeholder="">
                            </div><div class="form-group">
                                <label>Email</label>
                                <input ng-model="NewStudent.Email" type="email" class="form-control" placeholder="">
                            </div><div class="form-group">
                                <label>Telefono</label>
                                <input ng-model="NewStudent.Phone" type="email" class="form-control" placeholder="">
                            </div><div class="form-group">
                                <label>Celular</label>
                                <input ng-model="NewStudent.Cellphone" type="email" class="form-control" placeholder="">
                            </div><div class="form-group">
                                <label>Carrera</label>
                            <select class="form-control" ng-model="NewStudent.CareerID">
                                <option value="{{c.carreerID}}" ng-repeat="c in careers">{{c.name}}</option>
                            </select>
                            </div>
                            <button ng-click="register()" type="submit" class="btn mt-2 btn-outline-dark">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>